.swiper-slide img{
  width: 100%;
}

.facilidades {
  display: flex;
  overflow: scroll;
  width: auto;
  padding: 1em 0;
  gap: 20px;
  margin: 0 1em;
}

.facilidades__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facilidades__Texto {
  width: 200px;
  text-align: center;
}

.facilidades__Texto h2 {
  padding-bottom: 1em;
  text-transform: uppercase;
  color: var(--rosa-choque);
  font-weight: 700;
  font-size: 1.2rem;
}

.facilidades__Texto p {
  color: var(--preto);
  font-weight: 500;
}