@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Mono:wght@400;700&display=swap');
@import url("../styles/header.css");
@import url("../styles/pesquisar.css");
@import url("../styles/banner.css");
@import url("../styles/compras.css");

:root {
  --rosa: #ffc5d5;
  --rosa-choque: #ff0062;
  --preto: #000000;
  --branco: #FFFFFF;
  --crinza: #dfdfdf;
  --fonte-principal:  'Montserrat', sans-serif;
  --fonte-secundaria: 'Roboto Mono', monospace;
}

body {
  font-size: 1rem;
  background-color: var(--crinza);
  font-family: var(--fonte-principal);
  box-sizing: border-box;
}